body {
background-color: black;
color: aqua;
font-family: fantasy;
display:flex;
justify-content:center;
align-items:center;
height: 700px;
margin:0;
}

button {
background-color: rgb(23, 71, 100);
color: aqua;
font-family: 'times new roman', times, serif;
}

.passo {
   display: none;
}

.passo.ativo{
    display:block
}

main {
    max-width: 90%;
}

img {
    30%
}
