body {
background-color: yellow;
color: aqua;
font-family: fantasy;
display:flex;
justify-content:center;
align-items:center;
height: 700px;
margin:0;
}

button {
background-color: bisque;
color: aqua;
font-family: 'times new roman', times, serif;
}

.passo {
display: flex;
}




